.app-input {
  border: none;
  outline: none;
  background: transparent;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

@keyframes onLoad {
  0%{
    opacity: 0%;
    transform: translateY(-50px);
  }

  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.onLoad-animation{
  animation: onLoad 0.5s ease-in;
}