.personal-input, .personal-select, .personal-fieldset{
  outline: none;
  border: 0.09375rem solid #E0DEF7;
  border-radius: 0.5rem;
}

.personal-input, .personal-select{
  padding: 1rem;
}

.personal-input[type='checkbox']{
  accent-color: #7065F0;
}

.personal-input[type='radio'] {
  cursor: pointer;
  accent-color: #7065F0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  padding: 0.5rem;
}

@keyframes slideIn {
  0%{
    transform: translateX(500px)
  }

  100%{
    transform: translateX(0px)
  }
}

@keyframes slideOut {
  0%{
    transform: translateX(0px)
  }

  100%{
    transform: translateX(500px)
  }
}

.animate-in{
  animation: slideIn 0.3s ease-in;
}


.animate-out{
  animation: slideOut 0.3s ease-in;
}