@keyframes onLoad {
  0%{
    opacity: 0%;
    transform: translateY(-50px);
  }

  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}

.onLoad-animation{
  animation: onLoad 0.5s ease-in;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

body {
  scroll-behavior: smooth;
}